# intellij
.idea/

# pyenv
.python-version

# env
.env

# venv (virtual env)
*venv

# pycache
__pycache__

# pytest cache
.pytest_cache

# python-minifier
.python-minifier

# .egg-info
*.egg-info

# TODO
TODO.md